<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script src="myscripts.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <title>Dashbord</title>
</head>
<body>
    <div class="base_container">
        <div class="base_raw">
            <div class="base_header">
                <div class="header_raw">
                    <img src="Logo_of_Punjab_Police_(India).webp" alt="">
                </div>
                <div class="user_container">
                    <div class="home_link">
                        <a href="pphqproject.html">Home</a>
                    </div>
                    <div class="user_name">
                        <h4>kirti Nagpal</h4>
                    </div>
                    <div class="user_img">
                        <img style="width: 60px; height: 60px; border-radius: 50%;" src="download.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="training_containar">
        <div class="training_raw">
            <div class="training_first_box">
                <a class="modules" href="">Training Modules</a>
                <a class="modules" href="">Admin Tab</a>
                <a class="modules" href="">Dashbord</a>
                <a class="modules" href="">Courses</a>
                <a class="modules" href="">Quiz</a>
                <a class="modules" href="loginform.html">Logout</a>
             </div>
             <div class="training_sec_box">
                <div class="trainig_btns">
                    <div class="tabs_box"> 
                        <a class="traning_tab" href="">Total Exercises</a> 
                        <div class="tutorial_box">
                            <img src="civil-law-books-500x500.webp" alt="">
                            <h4>CCTNS Tutorial</h4>
                            <a href="">CCTNS</a>
                            <a href="">Core</a>
                            <a href="">Application</a>
                            <a href="">Software Training</a>
                        </div>
                    </div>
                    <div class="tabs_box"> <a class="traning_tab" href="">Exercises Complete</a> </div>
                    <div class="tabs_box"> <a class="traning_tab" href="">Pending Exercises</a> </div>
                    <div class="tabs_box"> <a class="traning_tab" href="">Certificate</a> </div>
                </div>
             </div>
        </div>
    </div>
</body>
</html>