<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="myscripts.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <title>Home page</title>
</head>
<body>
    <div class="banner_contaner">
                <img src="/images/Banner.jpg" alt="">
            </div>
    <div class="contaner">
        <div class="row">
            <div class="recuitment">
                <h2>Punjab Police Training Website </h2>
            </div>
            <div class="login_box">
                <div class="register">
                    <svg style="width: 15px; height:14px; fill:#fff;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 
                        2025 Fonticons, Inc.--><path d="M64 32C28.7 32 0 60.7 0 96L0 416c0 35.3 28.7 64 64 64l448 0c35.3 0 64-28.7 64-64l0-320c0-35.3-28.7-64-64-64L64 32zm80 256l64 0c44.2 0 80 35.8 80 80c0 8.8-7.2 
                        16-16 16L80 384c-8.8 0-16-7.2-16-16c0-44.2 35.8-80 80-80zm-32-96a64 64 0 1 1 128 0 64 64 0 1 1 -128 0zm256-32l128 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-128 0c-8.8 0-16-7.2-16-16s7.2-16 16-16zm0 
                        64l128 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-128 0c-8.8 0-16-7.2-16-16s7.2-16 16-16zm0 64l128 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-128 0c-8.8 0-16-7.2-16-16s7.2-16 16-16z"/></svg>
                    <a href="/registration">REGISTER</a>
                </div>
                <div class="login">
                   <svg style="width: 14px; height:14px; fill:#fff;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 
                    2025 Fonticons, Inc.--><path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512l388.6 0c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2
                     304 269.7 304l-91.4 0z"/></svg>
                    <a href="/login">LOGIN</a>
                </div>
            </div>
        </div>
    </div>
    <div class="main_container">
         <marquee class="animation">For the Post of Constable in District and Armed Police Cadre - Stage I
             (CBT Exam) will tentatively begin in the month of May 2025, with detailed notification updates expected on the recruitment portal
              in the last week of April 2025 </marquee>
                <div class="slider_container">
    <div class="one-time slider_raw">
        <div class="slider_item">
            <img src="/images/punjab-police-personnel-seen-during-rehearsals-ahead-1500w-10532431a.jpg" alt="">
        </div>
        <div class="slider_item">
            <img src="/images/f01a4e3d2d3c011adb7b3fdcff6dd4e5.webp" alt="">
        </div>
        <div class="slider_item">
            <img src="/images/9400012.jpg" alt="">
        </div>
    </div>
</div>
   <div class="courses_container">
                    <div class="course_box">
                        <a class="first_course" href="">
                        <div >
                           <svg style="width: 60px; height:60px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - 
                            https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M249.6 471.5c10.8 3.8 22.4-4.1 22.4-15.5l0-377.4c0-4.2-1.6-8.4-5-11C247.4 
                            52 202.4 32 144 32C93.5 32 46.3 45.3 18.1 56.1C6.8 60.5 0 71.7 0 83.8L0 454.1c0 11.9 12.8 20.2 24.1 16.5C55.6 460.1 105.5 448 144 448c33.9 0 79 14 105.6 23.5zm76.8 
                            0C353 462 398.1 448 432 448c38.5 0 88.4 12.1 119.9 22.6c11.3 3.8 24.1-4.6 24.1-16.5l0-370.3c0-12.1-6.8-23.3-18.1-27.6C529.7 45.3 482.5 32 432 32c-58.4 0-103.4 20-123 
                            35.6c-3.3 2.6-5 6.8-5 11L304 456c0 11.4 11.7 19.3 22.4 15.5z"/></svg>
                            <h3>Our Courses</h3>
                            <p> Online Punjab Police training  courses will help to  accelerate your skills  into various subject areas like CCTNS, KHOJ, ICJS, PRAGATI etc.  </p>
                        </div>
                        </a>
                         <a class="first_course" href="">
                        <div >
                            <svg style="width: 60px; height:60px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - 
                                https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M337.8 5.4C327-1.8 313-1.8 302.2 5.4L166.3 96 48 96C21.5 96 
                                0 117.5 0 144L0 464c0 26.5 21.5 48 48 48l208 0 0-96c0-35.3 28.7-64 64-64s64 28.7 64 64l0 96 208 0c26.5 0 48-21.5 48-48l0-320c0-26.5-21.5-48-48-48L473.7 
                                96 337.8 5.4zM96 192l32 0c8.8 0 16 7.2 16 16l0 64c0 8.8-7.2 16-16 16l-32 0c-8.8 0-16-7.2-16-16l0-64c0-8.8 7.2-16 16-16zm400 16c0-8.8 7.2-16 16-16l32 0c8.8 0
                                 16 7.2 16 16l0 64c0 8.8-7.2 16-16 16l-32 0c-8.8 0-16-7.2-16-16l0-64zM96 320l32 0c8.8 0 16 7.2 16 16l0 64c0 8.8-7.2 16-16 16l-32 0c-8.8 0-16-7.2-16-16l0-64c0-8.8 
                                 7.2-16 16-16zm400 16c0-8.8 7.2-16 16-16l32 0c8.8 0 16 7.2 16 16l0 64c0 8.8-7.2 16-16 16l-32 0c-8.8 0-16-7.2-16-16l0-64zM232 176a88 88 0 1 1 176 0 88 88 0 1 1 -176 
                                 0zm88-48c-8.8 0-16 7.2-16 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16s-7.2-16-16-16l-16 0 0-16c0-8.8-7.2-16-16-16z"/></svg>
                                 <h3>Exercises</h3>
                                 <p>what do learners need to know or do by the end? Use tools like Bloom’s Taxonomy to align activities</p>
                        </div>
                        </a>
                        <a class="first_course" href="">
                        <div >
                            <svg style="width: 60px; height:60px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM169.8 165.3c7.9-22.3 29.1-37.3 52.8-37.3l58.3 0c34.9 0 63.1 28.3 63.1 63.1c0 22.6-12.1 43.5-31.7 54.8L280 264.4c-.2 13-10.9 23.6-24 23.6c-13.3 0-24-10.7-24-24l0-13.5c0-8.6 4.6-16.5 12.1-20.8l44.3-25.4c4.7-2.7 7.6-7.7 7.6-13.1c0-8.4-6.8-15.1-15.1-15.1l-58.3 0c-3.4 0-6.4 2.1-7.5 5.3l-.4 1.2c-4.4 12.5-18.2 19-30.6 14.6s-19-18.2-14.6-30.6l.4-1.2zM224 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z"/></svg>
                                <h3>Quiz</h3>
                                <p>“Challenge your knowledge in just 5 mins—and get personalized feedback instantly.”</p>
                        </div>
                        </a>
                    </div>

                </div>
         <div class="info_container" onclick="rotaticon()">
            <a class="info_link" onclick="myFunction()">
            <div class="info_raw" >
                <div class="info_box">
                    <h3>Important Information</h3>
                </div>
                <div id="myicon" class="icon_box">
                    <svg style="width: 25px; height:25px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z"/></svg>
                </div>
            </div>
        </a>
            <div id="myDIV" class="first_tab">
                <div class="tab_box">
                    <h3>Read the below instructions carefully, before filling up the form:</h3>
                </div>
                <div class="tab_li">
                    <ul>
                        <li class="li_font">Candidate has to fill in the below mentioned details to receive the User ID and Password.</li>
                        <li class="li_font">Candidate will receive the User ID and Password on the registered email address and or on the registered mobile number.</li>
                        <li class="li_font">Candidate can login with the User ID and Password to complete the application form for Punjab Police Recruitment Exam 2025.</li>
                        <li class="li_font">Candidate must provide Correct Name, Date of Birth, Mobile Number and Email Address as these details cannot be changed once the registration is completed.</li>
                        
                    </ul>
                </div>
            </div>
            </div>
            <!-- <div class="general_container">
                <div class="general_heading">
                    <h1>Police constable in district and arm cadre of punjab police 2025</h1>
                </div>
                <div class="general_link" onclick="myfirsttab ()">
                    <div class="general_box" onclick="link ()">
                        <div class="general_text"><h4>GENERAL LINKS</h4></div>
                        <div id="linkid" class="general_ikon"><svg style="width: 25px; height:25px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z"/></svg></div>
                    <!-- </div>
                    <div id="fristtab" class="general_tab">
                    <div class="general_registor">
                        <div class="register_box"><h4>Already Registered?</h4></div>
                    <div class="register_link"><a href="loginform.html">CLICK HEAR TO LOGIN</a></div>
                    </div>
                    <div class="general_registor">
                        <div class="register_box"><h4>To Register</h4></div>
                    <div class="register_link"><a href="CLICK HEAR TO LOGIN">CLICK HEAR</a></div>
                    </div>
                    <div class="general_registor">
                        <div class="register_box"><h4>Advertisement</h4></div>
                    <div class="register_link"><a href="CLICK HEAR TO LOGIN">CLICK HEAR</a></div>
                    </div>
                    <div class="general_registor">
                        <div class="register_box"><h4>Frequently Asked Questions(FAQs)</h4></div>
                    <div class="register_link"><a href="CLICK HEAR TO LOGIN">CLICK HEAR</a></div>
                    </div>
                    </div>
                </div>
            </div>  -->
             <!-- <div class="general_container">
                <div class="general_link" onclick="mysecondtab()">
                    <div class="general_box" onclick="infonoti()">
                        <div class="general_text"><h4>IMPORTANT NOTIFICATION</h4></div>
                        <div id="infoid" class="general_ikon"><svg style="width: 25px; height:25px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z"/></svg></div>
                    <!-- </div>
                    <div id="secondtab" class="general_tab">
                    <div class="general_registor">
                        <div class="register_box"><h4>Reservation for Women</h4></div>
                    <div class="register_link"><a href="CLICK HEAR TO LOGIN">CLICK HEAR</a></div>
                    </div>
                    <div class="general_registor">
                        <div class="register_box"><h4>Reservation for Scheduled Castes & Backward Classes</h4></div>
                    <div class="register_link"><a href="CLICK HEAR TO LOGIN">CLICK HEAR</a></div>
                    </div>
                    <div class="general_registor">
                        <div class="register_box"><h4>Reservation for Economically Weaker Sections</h4></div>
                    <div class="register_link"><a href="CLICK HEAR TO LOGIN">CLICK HEAR</a></div>
                    </div>
                    <div class="general_registor">
                        <div class="register_box"><h4>Reservation for wards of Freedom Fighters</h4></div>
                    <div class="register_link"><a href="CLICK HEAR TO LOGIN">CLICK HEAR</a></div>
                    </div>
                    </div>
                </div>
            </div> -->
             <!-- <div class="general_container">
                <div class="general_link" onclick="mythirdtab()">
                    <div class="general_box" onclick="keydate()">
                        <div class="general_text"><h4>KEY DATES</h4></div>
                        <div id="keyid" class="general_ikon"><svg style="width: 25px; height:25px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z"/></svg></div>
                    <!-- </div>
                    <div id="thirdtab" class="general_tab">
                    <div class="general_registor">
                        <div class="register_box"><h4>Starting date for application</h4></div>
                    <div class="register_link"><a href="CLICK HEAR TO LOGIN">CLICK HEAR TO LOGIN</a></div>
                    </div>
                    <div class="general_registor">
                        <div class="register_box"><h4>Last date for online submission</h4></div>
                    <div class="register_link"><a href="CLICK HEAR TO LOGIN">CLICK HEAR</a></div>
                    </div>
                    <div class="general_registor">
                        <div class="register_box"><h4>Phase 1 CBT - Exam Start Date</h4></div>
                    <div class="register_link"><a href="CLICK HEAR TO LOGIN">CLICK HEAR</a></div>
                    </div>
                    <div class="general_registor">
                        <div class="register_box"><h4>Objection Windiow Live Date</h4></div>
                    <div class="register_link"><a href="CLICK HEAR TO LOGIN">CLICK HEAR</a></div>
                    </div>
                    </div>
                </div>
            </div>  -->
             
         </div>
    </div>
</body>
</html>

<script>
$(document).ready(function(){
    $('.one-time').slick({
        dots: true,
        infinite: true,
        speed: 900,
        slidesToShow: 1,
        // adaptiveHeight: true,
        autoplay: true,
        autoplaySpeed: 2000
    });
});
</script>
