<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script src="myscripts.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <title>Registration form</title>
</head>
<body>
    <div class="banner_contaner">
        <img src="Banner.jpg" alt="">
    </div>
    <div class="registration_main">
        <div class="registration_raw">
            <div class="login_h1">
    		   <h2>Registration Form</h2>
    	   </div>
           <div class="reg_input">
            <div class="reg_first">
                <div class="reg_email"><p>Email Address</p>
                <input class="input_set" type="email" placeholder="Enter Your Email"></div>
                <div class="reg_user"><p>User Name</p>
                <input class="input_set" type="text" placeholder="Enter Your Registration Number"></div>
                
            </div>
            <div class="reg_first">
                <div class="reg_email" >
            <p>Password</p>
            <input class="input_set" type="password" placeholder="Enter Your Password"></div>
            <div class="reg_user">
            <p>Confirm Password</p>
            <input class="input_set" type="password" placeholder="Confirm Password"></div>
            </div>
            <div class="reg_btn">
            <input class="input_btn" type="submit" placeholder="Submit">
            <span><p>New?<a href="loginform.html">login Here|</a> Return to <a href="pphqproject.html">Home</a></p></span>
            </div>
           </div>
        </div>
    </div>
</body>
</html>